* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url("./images/worldcity.png");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

#aboutus-main {
    position: absolute;
    display: grid;
    width: 90%;
    left: 5%;
    margin-top: 15vh;
    grid-template-columns: 80vw;
    grid-template-rows: 3vh 0 50vh;
    justify-content: center;
}

#aboutus-title {
    position: relative;
    display: flex;
    width: fit-content;
    color: white;
    font-size: 40px;
    font-family: "Arvo";
    font-weight: 900;
    height: fit-content;
}

#aboutus-dreamteam {
    position: relative;
    width: fit-content;
    color: white;
    font-size: 20px;
    font-family: "Arvo";
    font-weight: 400;
    height: fit-content;
    transform: translateX(200px) translateY(-15px);
}

#agent-container {
    position: relative;
    display: flex;
    width: 100%;
    top: 25px;
    gap: 20px;
}

#agent-container>* {
    border-radius: 15px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 09);
    width: 90%;
    height: 100%;
    margin-right: 10px;
    background-color: rgb(173, 138, 206);
    z-index: 1;
}

#arrows {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#arrows img {
    cursor: pointer;
    margin-top: 50px;
}

#coffin-path {
    position: absolute;
    margin-top: 10vh;
    margin-left: 100%;
    animation: coffin 20s linear infinite;
}

@keyframes coffin {
    0% {
        transform: translateX(-150vw) translateY(-100vh) rotate(15deg);
    }

    15% {
        transform: translateX(-150vw) translateY(-50vh) rotate(30deg);
    }

    30% {
        transform: translateX(-100vw) translateY(30vh) rotate(45deg);
    }

    45% {
        transform: translateX(-60vw) translateY(60vh) rotate(60deg);
    }

    60% {
        transform: translateX(-30vw) translateY(80vh) rotate(85deg);
    }

    75% {
        transform: translateX(10vw) translateY(100vh) rotate(100deg);
    }

    100% {
        transform: translateX(20vw) translateY(120vh) rotate(180deg);
    }
}

#airplane3-path {
    position: absolute;
    margin-top: 10vh;
    margin-left: 100%;
    animation: airplane3 5s linear infinite;
}

@keyframes airplane3 {
    0% {
        transform: translateX(-140vw) translateY(120vh);
    }

    100% {
        transform: translateX(100vw) translateY(-120vh);
    }
}