* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url("./images/worldcity.png");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

#bk-img {
    height: 50vh;
    width: 100%;
    margin-top: 50vh;
    opacity: 80%;
    z-index: -1;
}

#home-nav {
    position: absolute;
    display: flex;
    background-color: rgb(58, 57, 57);
    height: 60px;
    width: 100%;
    top: 0;
    z-index: 9999;
}

#logo {
    margin-top: 5px;
    margin-left: 15px;
}

#travel-agent {
    color: rgb(178, 207, 231);
    margin-left: 16px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

#menu-ul {
    display: flex;
    list-style-type: none;
    margin-left: 30px;
    width: 300px;
    justify-content: space-between;
}

#menu-ul li {
    cursor: pointer;
    font-size: 22px;
    margin-top: 35px;
}

#menu-ul li a {
    color: rgb(90, 164, 250);
    background-color: rgb(58, 57, 57);
    text-decoration: none;
}

#menu-ul li a.active {
    color: rgb(224, 31, 31);
    background-color: rgb(188, 213, 243);
}

#menu-ul li a:hover {
    color: rgb(224, 31, 31);
}

#sidebar-icons {
    position: absolute;
    width: 32px;
    display: flex;
    flex-flow: row wrap;
    margin-top: 60vh;
}

#sidebar-icons>img {
    width: 100%;
    margin-left: 30px;
    padding-top: 10px;
    cursor: pointer;
}

#airplane-path {
    position: absolute;
    margin-top: 90vh;
    margin-left: 100%;
    animation: airplane 15s linear infinite;
}

@keyframes airplane {

    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-120vw);
    }
}

#airplane2-path {
    position: absolute;
    margin-top: 80vh;
    margin-left: 150%;
    animation: airplane2 20s linear infinite;
}

@keyframes airplane2 {

    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-200vw);
    }
}

#flyingsaucer-path {
    position: absolute;
    margin-top: 10vh;
    margin-left: 100%;
    animation: flyingsaucer 5s linear infinite;
}

@keyframes flyingsaucer {
    0% {
        transform: translateX(-120vw);
    }

    100% {
        transform: translateX(100vw);
    }
}

.moon {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 40vh;
    opacity: .4;
}

#mars-path {
    margin-left: 75%;
}

.mars {
    width: 60px;
    height: 60px;
    margin-left: 90px;
    margin-top: 45vh;
    opacity: .3;
}

#saturn-path {
    margin-left: 0%;
}

.saturn {
    width: 60px;
    height: 60px;
    margin-top: 37vh;
    opacity: .4;
}

#contactus-main {
    position: absolute;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh;
    align-items: center;
}

#contactus-title {
    color: white;
    font-size: 80px;
    font-family: "Arvo";
    font-weight: 900;
    padding-left: 25%;
}

#contactus-helptext {
    color: rgb(236, 234, 234);
    padding-left: 37%;
    font-size: 1.2rem;
}

#contactus-entry-form {
    display: block;
    background-color: white;
    color: black;
    margin-top: 33%;
    margin-left: -20%;
    padding-top: 13px;
    width: 80%;
    height: 44vh;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 09);
    grid-template-areas: "label-textbox";
    background: linear-gradient(-45deg, rgb(187, 92, 92), rgb(117, 117, 202), rgb(235, 229, 229));
    z-index: 1;
}

#alientface-path {
    position: absolute;
    margin-top: 30vh;
    animation: alientface 10s linear infinite alternate-reverse;
}

@keyframes alientface {

    0% {
        transform: translateX(65vw);
    }

    50% {
        transform: translateX(70vw);
    }

    75% {
        transform: translateX(76vw);
    }

    85%,
    100% {
        transform: translateX(80vw);
    }
}

#astronaut-path {
    position: absolute;
    margin-top: 25vh;
    margin-left: 10vw;
    animation: astronaut 15s linear infinite alternate-reverse;
}

@keyframes astronaut {

    0% {
        transform: translateX(45vw);
    }

    50% {
        transform: translateX(35vw);
    }

    75% {
        transform: translateX(30vw);
    }

    85%,
    100% {
        transform: translateX(26vw);
    }
}

#contactus-entry-form>* {
    margin-top: 10px;
    padding-left: 20px;
}

#contactus-entry-form div label {
    display: inline-block;
    width: 180px;
    font-size: 1rem;
}

#contactus-entry-form div>input,
textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    width: 66%;
}

.required:after {
    content: " *";
    color: red;
}

#contact-name {
    padding-left: 100px;
}

#contactus-name {
    text-size-adjust: 80%;
}

#contact-email {
    padding-left: 130px;
}

#contact-telephone {
    padding-left: 100px;
}

#contact-numberofpeople {
    padding-left: 18px;
}

#contact-whentotrevel {
    padding-left: 68px;
}

#contact-trevelduration {
    padding-left: 64px;
}

#contact-favouriteplaces {
    padding-left: 56px;
}

#contactus-moredetails {
    width: 66%;
}

#contact-moredetails {
    padding-left: 80px;
    transform: translateY(-73px);
}

#contact-submit {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 20%;
    transform: translateY(-7px);
    margin-left: 78%;
}

#aboutus-main {
    position: absolute;
    display: grid;
    width: 90%;
    left: 5%;
    margin-top: 15vh;
    grid-template-columns: 80vw;
    grid-template-rows: 3vh 0 50vh;
    justify-content: center;
}

#aboutus-title {
    position: relative;
    display: flex;
    width: fit-content;
    color: white;
    font-size: 40px;
    font-family: "Arvo";
    font-weight: 900;
    height: fit-content;
}

#aboutus-dreamteam {
    position: relative;
    width: fit-content;
    color: white;
    font-size: 20px;
    font-family: "Arvo";
    font-weight: 400;
    height: fit-content;
    transform: translateX(200px) translateY(-15px);
}

#agent-container {
    position: relative;
    display: flex;
    width: 100%;
    top: 25px;
    gap: 20px;
}

#agent-container>* {
    border-radius: 15px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 09);
    width: 90%;
    height: 100%;
    margin-right: 10px;
    background-color: rgb(173, 138, 206);
    z-index: 1;
}

#airplane3-path {
    position: absolute;
    margin-top: 10vh;
    margin-left: 100%;
    animation: airplane3 5s linear infinite;
}

@keyframes airplane3 {
    0% {
        transform: translateX(-140vw) translateY(120vh);
    }

    100% {
        transform: translateX(100vw) translateY(-120vh);
    }
}

#earth-agent {}

#moon-agent {}

#mars-agent {}

#saturn-agent {}